---
layout: default
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	  	<p>{{ post.content | strip_html | truncatewords:50 }}</p>
	  </li>

    {% endfor %}

</ul>
<ul>
{% assign posts=site.posts | where:"lang", "fr" %}
{% for default in posts %}
  {% assign translation = site.posts | where:"ref", default.ref | where:"lang", "en" %}
  {% if translation[0] %}
    <li><a href="{{ translation[0].url }}">{{ translation[0].title }}</a></li>
  {% else %}
    <li><a href="{{ default.url }}">{{ default.title }}</a> [en] </li>
  {% endif %}
{% endfor %}
</ul>
