<a href="https://www.hackthebox.eu/home/users/profile/47171" target="_blank">Hack The Box</a>
<a href="https://www.root-me.org/homard11?lang=fr#76c38c63085d83f8cbfc5e302e0a9ded" target="_blank">Root-me</a>
<a href="https://github.com/GuillaumeOrlando" target="_blank">Github</a>
<a href="https://twitter.com/BoyHomard?lang=fr" target="_blank">Twitter</a>
<a href="https://www.virustotal.com/#/user/Homardboy" target="_blank">VirusTotal bot</a>
<a href="https://beta.virusbay.io/community/user/5bd06e442e6b66652047a024" target="_blank">VirusBay</a>
